<div class="background">

<h1 class="title">QuickFit</h1>

<h3 class="welcome">Welcome New User</h3>

<h2 class="login">Sign Up</h2>

<a href="/" class="sign-up">Login</a> 

<form action="/signup" method="post">

    <div class="login-info">
        
        <label id="name" for="">Name</label>
        <input type="text" name="name">
        <br>
        <br>

        <label id="username" for="">Username</label>
        <input type="text" name="username">
        <br>
        <br>

        <label id="password"for="">Password</label>
        <input type="password" name="password">
        <br>
        <br>

    </div>

    <button class="login-btn">Sign Up</button>

    

</form>

{{#if errorMessage}}
<div class="error">{{errorMessage}}</div>
{{/if}}


</div>