<div class="background">

<h1 class="title">QuickFit</h1>

<div class="description">
<p>QuickFit is your own personal training app that will help motivate you, and log your workouts daily!</p> 
</div>

<h2 class="login">Login</h2>

<a href="/users/signup" class="sign-up">Sign Up</a>

<form action="/login" method="post">

    <div class="login-info">
    
        <label id="username" for="">Username</label>
        <input type="text" name="username">
        <br>
        <br>

        <label id="password"for="">Password</label>
        <input type="password" name="password">
        <br>
        <br>

    </div>

    <button class="login-btn">LOGIN</button>

    

</form>



</div>
